@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
}

/* Navbar Styles */
.sidebar {
  @apply 
    text-secondary
    bg-primary
    sm:fixed
    sm:left-0
    sm:bottom-0
    sm:top-0
    md:w-96
    sm:w-1/4
    sm:h-full
    
    fixed
    bottom-0
    left-0
    right-0
    h-20
    w-full
    flex
    sm:block;
}

.sidebar-container {
  @apply
    sm:float-right
    sm:w-auto
    sm:block
    w-full
    flex
    items-center
    justify-center
    gap-7
    sm:gap-0;
}

.sidebar-link-container {
  @apply
    sm:px-10
    sm:py-4
    
    hover:opacity-80
    hover:rounded-full
    hover:bg-zinc-800
    active:opacity-50
    cursor-pointer
    select-none;
}

.sidebar-link {
  @apply
    flex
    items-center;
}

.sidebar-link-image {
  @apply
    sm:mr-3;
}

.sidebar-link-title {
  @apply
    text-xl
    md:flex
    hidden
    w-20;
}

/* Sidebar Sections */
.sidebar-upper-section {
  @apply
    sm:block
    flex
    sm:gap-0
    gap-7;
}

.sidebar-lower-section {
  @apply
    sm:absolute
    sm:bottom-0
    sm:mb-8
    sm:block
    flex
    sm:gap-0
    gap-7;
}

.avatar-container {
  @apply
    flex;
}

.avatar-logo {
  @apply
    flex
    sm:mr-3;
}

.avatar-name-container {
  @apply
    md:w-20
    w-0
    select-text;
}

.avatar-name {
  @apply
    text-nowrap
    text-base
    
    md:flex
    hidden;
}

.avatar-handle {
  @apply
    mt-1
    text-slate-400
    text-xs
    
    md:flex
    hidden;
}


/* Upload Page */
.upload-container {
  @apply
    fixed
    top-1/2
    left-1/2
    -translate-y-2/4
    -translate-x-2/4
    border
    border-solid
    border-black
    rounded-lg
    z-20
    bg-white
    w-96
    ;
}

.upload-header {
  @apply
    flex
    px-2.5
    py-4
    justify-between
    items-center
    ;
}

.upload-close-button {
  @apply
    cursor-pointer;
}

.upload-body {
  @apply
    px-2.5
    py-4
    ;
}

.overlay {
  @apply
    fixed
    /* opacity-0  */
    inset-x-0
    inset-y-0
    bg-black/50
    pointer-events-none
    ;
}
